a:hover {
  text-decoration: none;
}

body {
  font-family: 'Ubuntu',sans-serif;
  font-size: 15px;
  color: #075C68;
}

.footer {
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 50px;
  color: #075C68;
}

.rowspadded {
  margin-top: 20px;
  margin-bottom: 20px;
}

.callout {
  font-weight: bold;
  font-style: italic;
}
