a:hover {
  text-decoration: none;
}

body {
  font-family: 'Ubuntu',sans-serif;
  font-size: 16px;
  color: #075C68;
}

blockquote {
  letter-spacing: 2px;
  font-size: 23px;
}

.footer {
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 50px;
  color: #075C68;
}

.rowspadded {
  margin-top: 20px;
  margin-bottom: 20px;
}

.callout {
  font-weight: bold;
  font-style: italic;
}

.imgmarg {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.boxy {
  width: 40%;
  border: 2px double #075C68;
  padding: 4px;
  background-color: #E4E4E4;
}
